.AboutSection {
  background-color: #f4f4f4;

  .content {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    padding-top: 1rem;

    img {
      height: 250px;
      margin-right: 3.5rem;
    }

    p.title {
      margin-top: 0;
      font-size: 1.8rem;
    }
  }
}
