.FeaturesSection {
  .container.content {
    display: flex;
    flex-wrap: wrap;

    div {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-size: 1.1rem;
      line-height: 1.5;

      img {
        height: 130px;
      }

      .title {
        font-size: 1.5rem;
      }
    }
  }
}
