.Footer {
  background-color: #31394f;
  margin-top: -100px;

  .container {
    padding-top: 8rem;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .title {
      margin-bottom: 1.5rem;
      color: #fff;
      font-size: 27px;
      font-weight: bold;
    }

    .left {
      display: flex;

      div + div {
        margin-left: 5rem;
      }
    }

    .right {
      display: flex;
      flex-direction: column;

      img {
        height: 60px;

        & + img {
          margin-left: 1rem;
        }
      }
    }

    ul {
      color: #fff;
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: "Montserrat", sans-serif;

      li + li {
        margin-top: 0.5rem;
      }
    }
  }

  .copyright {
    border-top: 1px solid #979797;
    margin-top: 3rem;
    padding-top: 1.8rem;
    font-size: 19px;
    color: #fff;
  }
}
