@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: "Noto Sans", sans-serif;
}
