@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

body {
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 75%;
  max-width: 1080px;
  margin: 0 auto;

  &.content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
